.root {
  background-color: rgba(156, 165, 236, 0.04);
  border-radius: 6px;
  height: 294px;
  width: 255px;
  margin-top: 20px;
  margin-right: 60px;
  &__header {
    position: relative;
    div {
      width: 50px;
      height: 20px;
      background: #6b69f9;
      border-radius: 3px;
      position: absolute;
      left: 15px;
      top: 15px;
      text-align: center;
      span {
        font-size: 12px;
        line-height: 12px;
        position: relative;
        bottom: 3px;
      }
    }
    img {
      border-radius: 6px 6px 0px 0px;
      z-index: 0;
    }
  }
  &__mainContainer {
    display: flex;
    height: 105px;
    flex-direction: column;
    justify-content: space-between;
  }
  &__main {
    padding: 10px 0 0 15px;
    h4 {
      font-size: 16px;
      line-height: 12px;
      font-weight: 400;
      padding-bottom: 5px;
    }
    p {
      max-width: 205px;
      color: #8b8b8b;
      font-size: 14px;
      line-height: 18px;
      text-transform: initial !important;
    }
  }
  &__footer {
    border-top: 1px solid #5c5c5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 0;

    div {
      display: flex;
      align-items: center;

      img {
        filter: invert(50%);
      }
    }
    p {
      font-size: 13px;
      line-height: 10px;
    }
  }
  &__addedToFavorite {
    margin-right: 5px;
  }
}
