@import '../variables';

.lection-button {
  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 4px;
  width: 86px;
  height: 30px;
  border: none;
  color: #ffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.navigation-button {
  width: 30px;
  height: 30px;
  border: 1px solid $grey;
  border-radius: 4px;
  background-color: $mainBackground;
}

.lastButton {
  margin-right: unset !important;
}

.watch-button {
  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 4px;
  width: 89px;
  border: none;
  color: #ffff;
  height: 30px;
  font-size: 13px;
  line-height: 10px;
}

.miniLecLogo-container {
  width: 80px;
  height: 50px;
  background: #6b69f9;
  border-radius: 20px;
  text-align: center;
  span {
    top: 12px;
    position: relative;
    font-size: 15px;
    line-height: 14px;
    bottom: 3px;
  }
}
