@import '../variables';

.lecturesHeader {
  p {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 16px;
    color: $grey;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 400;
      font-size: 22px;
      line-height: 18px;
    }

    div:last-child {
      display: flex;
      align-items: center;
    }

    &-lectButton {
      margin-right: 10px;
    }

    &-navButton {
      margin-right: 5px;
    }
  }
}

.searchContainer {
  position: relative;
  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 42px;
    transition: all 0.15s ease-in-out;
    background-color: $leftBackground;
    color: $white;

    &:focus {
      border: 1px solid $leftBackground;
      width: 330px;
    }
  }
  svg {
    width: 24px;
    height: 24px;
    opacity: 0.3;
    position: absolute;
    left: 12px;
    top: 12px;
  }
}

.headerFrontClick {
  transform: translateX(-330px);
}
.headerBackClick {
  transform: translateX(330px);
}
