@import '../variables';

.topbar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  background-color: $mainBackground;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  max-width: 1800px;
  width: calc(100vw - 100px);

  nav {
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.topbar {
  background-color: $leftBackground;
  width: 280px;
  padding: 5px 0 0 20px;
  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
  }
  &__logo {
    font-weight: 700;
    font-size: 22px;
    margin-top: -7px;
  }

  &__info-container {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        margin-right: 10px;
      }
    }
    ul:first-child {
      font-size: 14px;
      color: #adadad;
      line-height: 10px;
    }
    ul:last-child {
      li:last-child {
        display: flex;
        align-items: center;
        color: #adadad;
        span {
          font-size: 13px;
        }
        div {
          width: 16px;
          height: 16px;
          background-color: $red;
          box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
          border-radius: 4px;
          svg {
            position: relative;
            top: 2px;
            left: 4px;
          }
        }
      }
      font-size: 13px;
      line-height: 10px;
      color: #ffff;
    }
    .border {
      color: #525151;
    }
  }
  &__rightside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    margin-right: 20px;
    margin-left: -50px;
    &__avatar {
      height: 44px;
    }
    &__user-description {
      p:first-child {
        font-size: 14px;
      }
      p:last-child {
        display: flex;
        justify-content: space-between;
        width: 50px;
        span {
          position: relative;
          top: 6px;
          width: 6px;
          height: 6px;
          background-color: $green;
          display: block;
          border-radius: 5px;
        }
        font-size: 13px;
        color: $green;
        font-weight: 600;
      }
    }
  }
  &__sec-ul {
    display: flex;
    align-items: center;
    background-color: #404040;
    border-radius: 5px;
    padding: 10px;
    height: 24px;
  }
}
.PRO {
  p {
    position: relative;
    left: 10px;
    bottom: 1px;
    font-size: 11px;
  }
  width: 40px;
  height: 14px;
  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  border-radius: 4px;
  position: relative;
  top: -10px;
}
.red-box-container {
  width: 105px;
  justify-content: space-between;
}

.burger-btn {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;

  // span {
  //   content: '';
  //   position: absolute;
  //   top: 9px;
  //   width: 20px;
  //   background-color: #646464;
  //   height: 2px;
  // }
}

.burger-btn::before {
  // content: '';
  // position: absolute;
  // top: 0;
  // width: 20px;
  // background-color: #898989;
  // height: 2px;
}
.burger-btn::after {
  // content: '';
  // position: absolute;
  // bottom: 0;
  // width: 20px;
  // background-color: #272727;
  // height: 2px;
}
@media (max-width: 1024px) {
  .PRO {
    margin-left: 15px;
  }
  .topbar__rightside {
    width: unset;
  }
}
button {
  background-color: unset;
  border: unset;
  color: $white;
}
@media (max-width: 768px) {
  .topbar {
    width: unset;
  }
}
@media (max-width: 450px) {
  .topbar {
    display: none;
  }
  .PRO {
    display: none;
  }
}
