.root {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__footer {
    margin-top: 60px;
    button {
      background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
      border-radius: 20px;
      border: none;
      color: white;
      padding: 15px;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
