.root {
  padding: 80px 0 0 340px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__header {
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
  }
  &__footer {
    button {
      background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
      border-radius: 20px;
      border: none;
      color: white;
      padding: 15px;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
@media (max-width: 1645px) {
  .root {
    &__header {
      width: 800px;
    }
  }
}
@media (max-width: 1150px) {
  .root {
    &__header {
      width: 650px;
    }
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 12px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 14px;
    }
  }
}
@media (max-width: 1000px) {
  .root {
    padding: 80px 0 0 290px;
    &__header {
      width: 500px;

      button {
        padding: 0px;
        height: 65px;
        font-size: 12px;
        width: 120px;
      }
    }
  }
}
@media (max-width: 768px) {
  .root {
    padding-top: 100px;
    padding-left: 30px;
  }
}
@media (max-width: 540px) {
  .root {
    &__header {
      width: unset;
      button {
        display: none;
      }
    }
  }
}
