@import './variables';
@import './libs/normalize';

@import './components/all';

.wrapper {
  margin: 0 auto;
  max-width: 1800px;
  width: calc(100vw - 100px);
}
.main-container:first-child {
  padding-bottom: 70px;
}

.notFound-container {
  padding-top: 300px;
  text-align: center;
  padding-left: 200px;

  button {
    margin-top: 20px;
    background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
    border-radius: 10px;
    border: none;
    color: #ffff;
    height: 50px;
    padding: 10px;
    font-size: 16px;
  }
}
.activeContainer {
  display: none;
}
.favorite-container {
  width: 1200px;
}
.favoritedItem-description {
  max-width: 300px;
}
.favoriteItem-container {
  width: 500px;
}
.mainRoot-container {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 100px;
  height: 100vh;
  padding-left: 200px;
}
.header-container {
  padding-bottom: 70px;
}
.feedback-container {
  display: flex;
  padding-left: 300px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
}
.parent-modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}
.mentorAvatar {
  border-radius: 50%;
}
.react-container {
  margin-left: 400px;
}
.remove-icon:hover {
  cursor: pointer;
}
.loading {
  padding-top: 300px;
}
.lectures-main-container {
  padding-left: 350px;
}
