@import './variables';
@import './libs/normalize';

@import './components/all';

.wrapper {
  margin: 0 auto;
  max-width: 1800px;
  width: calc(100vw - 100px);
}
.main-container:first-child {
  padding-bottom: 70px;
}

.notFound-container {
  padding-top: 300px;
  text-align: center;
  padding-left: 200px;

  button {
    margin-top: 20px;
    background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
    border-radius: 10px;
    border: none;
    color: #ffff;
    height: 50px;
    padding: 10px;
    font-size: 16px;
  }
}
.activeContainer {
  display: none;
}
.favorite-container {
  width: 1200px;
}
.favoritedItem-description {
  max-width: 300px;
}
.favoriteItem-container {
  width: 500px;
}
.mainRoot-container {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 100px;
  height: 100vh;
  padding-left: 200px;
}
.header-container {
  padding-bottom: 70px;
}
.feedback-container {
  display: flex;
  padding-left: 300px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
}
.parent-modal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}
.mentorAvatar {
  border-radius: 50%;
}
.react-container {
  margin-left: 400px;
}
.remove-icon:hover {
  cursor: pointer;
}
.loading {
  padding-top: 300px;
}
.lectures-main-container {
  padding-left: 350px;
}
@media (max-width: 1725px) {
  .wrapper {
    margin: unset;
    width: unset;
    .topbar-container {
      width: 100vw;
    }
    .mainRoot-container {
      padding-left: 250px;
    }
  }
  .main-container {
    width: 1000px;
    margin: 0 auto;
  }
  .header-container {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1370px) {
  .main-container {
    width: 700px;
  }
  .header-container {
    width: 700px;
  }
}
@media (max-width: 1070px) {
  .main-container {
    width: 400px;
  }
  .header-container {
    width: 320px;
  }
  .searchContainer {
    margin-bottom: 20px;
  }
  .lecturesHeader__container h2 {
    margin-bottom: 20px;
  }
  .lecturesHeader__container {
    flex-direction: column;
  }
  .lecturesHeader p {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) and (min-width: 670px) {
  .main-container {
    width: 600px;
  }
  .mainRoot-container {
    padding-left: unset !important;
  }
}
@media (max-width: 670px) {
  .mainRoot-container {
    padding-left: unset !important;
  }
  .feedback-container {
    padding-left: 15px !important;

    img {
      width: 45px !important;
    }
    h2 {
      font-size: 16px !important;
    }
    h3 {
      font-size: 13px !important;
    }
    p {
      font-size: 12px !important;
    }
  }
}
@media (max-width: 450px) {
  .main-container {
    width: unset;
    margin: unset;
  }
  .lecturesContainer {
    margin: 0 auto;
    width: 270px;
  }
  .lecturesHeader-main {
    width: 270px;
    margin: 0 auto;
  }
}
@media (max-width: 1645px) {
  .favorite-container {
    width: 800px;
  }
  .favorite-image {
    width: 100px;
    height: 50px;
  }
}
@media (max-width: 1150px) {
  .favorite-container {
    width: 650px;
  }
  .favoriteItem-container {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .lectures-main-container {
    padding-left: 0;
  }
  .feedback-container {
    padding-left: 30px;
    flex-direction: column;

    img {
      width: 60px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    button {
      font-size: 10px;
      padding: 0px;
      height: 45px;
      width: 105px;
    }
  }
}
@media (max-width: 510px) {
  .reg-container {
    flex-direction: column;

    p {
      margin-bottom: 15px;
    }
  }
}
.first-link {
  display: none;
}
@media (max-width: 1000px) {
  .favoriteItem-container {
    width: 150px;
  }
  .favorite-image {
    display: none;
  }
  .favorite-container {
    width: 450px;
  }
}
@media (max-width: 540px) {
  .favorite-container {
    width: unset;
  }
  .miniLecLogo-container {
    display: none;
  }
}
